NEXT_PUBLIC_APP_URL=https://acme.com

NEXT_PUBLIC_REGISTRY_NAMESPACE=@acme
NEXT_PUBLIC_REGISTRY_NAMESPACE_URL=https://acme.com/r/{name}.json

# https://github.com/settings/tokens
GITHUB_API_TOKEN=

# https://github.com/grubersjoe/github-contributions-api
GITHUB_CONTRIBUTIONS_API_URL=https://github-contributions-api.jogruber.de

# https://www.dmca.com/ProtectionPro.aspx
NEXT_PUBLIC_DMCA_URL=https://www.dmca.com

# https://us.posthog.com/project/:id/settings/project
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=phc_xxx
NEXT_PUBLIC_POSTHOG_HOST=https://p.acme.com

# https://dashboard.openpanel.dev/ncdai/chanhdaicom/settings/clients
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=
OPENPANEL_PROJECT_ID=
OPENPANEL_CLIENT_ID=
OPENPANEL_CLIENT_SECRET=
