.cardContainer {
	height: 48vh;
	position: sticky;
	top: 15%;
	overflow: hidden;
	width: 100%;
	border-radius: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	border-radius: 25px;
	transform-origin: top;
}

.card h2 {
	text-align: center;
	margin: 0px;
	font-size: 28px;
}

.card .body {
	display: flex;
	height: 100%;
	margin-top: 0px;
	gap: 50px;
}

.card .body .description {
	width: 40%;
	position: relative;
	top: 0%;
}

.card .body .description p {
	font-size: 16px;
}

.card .body .description p::first-letter {
	font-size: 28px;
	font-family: 'Title';
}

.card .body .description span {
	display: flex;
	align-items: center;
	gap: 5px;
}

.card .body .description span a {
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}

.card .body .imageContainer {
	position: relative;
}

.card .body .imageContainer .inner {
	width: 100%;
	height: 100%;
}

.card .body .imageContainer img {
	object-fit: cover;
}
