:root {
  --dk-background: #ffffff;
  --dk-foreground: #09090b;
  --dk-muted-foreground: #a1a1aa;

  --dk-brick: #a1a1aa;
  --dk-brick-highlight: rgba(255, 255, 255, 0.5);
  --dk-brick-shadow: #71717a;
}

.dark {
  --dk-background: #09090b;
  --dk-foreground: #fafafa;
  --dk-muted-foreground: #71717a;

  --dk-brick: #71717a;
  --dk-brick-highlight: rgba(255, 255, 255, 0.3);
  --dk-brick-shadow: #3f3f46;
}
